/* .trapRightTwo {
  position: absolute;
  margin-left:73%;
  border-right: 12vw solid #112D32;
  border-top: 3vw solid transparent;
  width: 0;
  height: 35vw;
  bottom:0;
} */

#trapRightTwo {
  position: absolute;
  width: 13%;
  bottom: 0;
  right: 0;
  margin-right: 18%;
}

.cls-1-right-2 {
  fill: #112d32;
  stroke: #000;
  stroke-width: 2px;
}

.cls-2-right-2 {
  filter: url(#Path_4);
}