/* .trapLeftThree {
  position: absolute;
  margin-left:27%;
  border-right: 12vw solid #4F4A41;
  border-top: 6vw solid transparent;
  width: 0;
  height: 35vw;
  bottom:0;
} */

#trapLeftThree {
  position: absolute;
  width: 13%;
  bottom: 0;
  margin-left: 26%;
}

.cls-1-left-3 {
  fill: #4f4a41;
  stroke: #000;
  stroke-width: 2px;
}

.cls-2-left-3 {
  filter: url(#Path_6);
}