* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #000000 50vw, #F1EFEA 50vw);
  overflow: hidden;
}

.true {
  cursor: url("./white_cursor_Inactive.png"), auto;
  /* width: 120px */
}

.false {
  cursor: url("./black_cursor_Inactive.png"), auto;
  /* width: 120px */
}